.avatar {
  width: 100%;
  margin-bottom: 20px;
}

.name {
  font-size: 34px;
  letter-spacing: 1px;
  text-align: center;
}

.text_online {
  color: green;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
}

.text_offline {
  color: red;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
}
